<h1>Welcome <%=current_user.user_name.capitalize%> to Your Museum Visits </h1>

<h2> List of Museums</h2> <br>


 <%= button_to  "Create Your Visit", new_museum_path %> 

 <%=link_to "Create Your Visit", new_museum_path%>


<br>

<% @museum.each do |museum| %>
    

<%= link_to museum.name, museum_path(museum) %> <br>


<% end %>
